<nav class="navbar navbar-expand-xl top-navbar final-navbar shadow">
  <div class="container">
    {{ $mainLogo:="/images/main-logo.png" }}
    {{ $invertedLogo:="/images/inverted-logo.png" }}
    {{ if .Site.Params.logo.main }}
      {{ $mainLogo = .Site.Params.logo.main }}
    {{ end }}
    {{ if .Site.Params.logo.inverted }}
      {{ $invertedLogo = .Site.Params.logo.inverted }}
    {{ end }}
    <a class="navbar-brand" href="{{ site.BaseURL }}">
      <img src="{{ $mainLogo }}" />
      {{- site.Title -}}
    </a>

    <div class="collapse navbar-collapse" id="top-nav-items">
      <ul class="navbar-nav ml-auto"></ul>
    </div>
  </div>
  <!-- Store the logo information in a hidden img for the JS -->
  <img src="{{ $mainLogo }}" class="d-none" id="main-logo" />
  <img src="{{ $invertedLogo }}" class="d-none" id="inverted-logo" />
</nav>
